body{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  min-height: 10vh;
  justify-content: top;
}
.text{
  text-align: center;
  margin: 20px;
 font-size: 25px;
}
.login{
  background-color: transparent;
  border: none;
 margin-right: auto;
 font-size: 35px;
 margin-right: 90px;
}

.signUp{
  background-color: transparent;
  border: none;
  font-size: 35px;
  margin-left: 90px;
}

.hrLine1{
  width: 40%;
  margin-right: 50%;
}
.hrLine2{
  width: 40%;
  margin-left: 50%;
  margin-top: -11.5px;
}

.buttons{
  justify-content:left !important;
}

.fname{
 margin: 10px;
}

.loginInputField{
  height: 50px;
  width: 80%;
  border-radius:30px;
  outline: none;
  border: 1px solid black;
  margin-top: 30px;
  font-size: 16px;

}
.submit{
  height: 50px;
  width: 80%;
  border-radius:30px;
  outline: none;
  border: 1px solid black;
  margin-top: 30px;
  font-size: 20px;
  background-color: #FF1493;
  color: white;
  font-weight: 600;
  margin-bottom: 10px;

}
.fPassword{
 color:#FF1493;
 right: 30px;
 font-weight: 400;
 margin-left: 50%;
text-decoration: none;
}

.loginWith{
  color: grey;

}
 .icons ul{  
      display: flex;
      justify-content: center;
  }

  .icons ul li{
      list-style: none;
      margin: 0px 30px;
  }
 
 .googleSvg{
   margin-right: 50%;
   margin-top: 5%;
 }
 
 .facebookSvg{
   margin-right: 40%;
   margin-top: 5%;
   height: 44px;
 }
 .twitterSvg{ 
   margin-right: 50%;
   margin-top: 5%;
   background-color: transparent;
   height: 44px;
   border-radius: 50%;
 }

 .accountOpen{
display: flex;
justify-content: center;
font-size: 13px;
 }
 
 .accountOpen p a{
  text-decoration: none;
  color: #FF1493;
  
 }
 .terms{
  font-size: 13px;
 }
 .terms p a{
  color: #FF1493;
 }
 























@media screen and (max-width: 420px) {
  .text{
    text-align: center;
    margin: 20px;
   font-size: 15px;
  }

  .login{
    background-color: transparent;
    border: none;
   margin-right: auto;
   font-size: 20px;
   margin-right: 50px;
  }
  
  .signUp{
    background-color: transparent;
    border: none;
    font-size: 20px;
    margin-left: 50px;
  }
  .googleSvg{
    margin-right: 30%;
    margin-top: 5%;
  }
  
  .facebookSvg{
    margin-right: 30%;
    margin-top: 5%;
    height: 44px;
  }
  .twitterSvg{ 
    margin-right: 30%;
    margin-top: 5%;
    background-color: transparent;
    height: 44px;
    border-radius: 50%;
  }
  
}









